.itemPage {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 5px;
	width: 90%;
	border-radius: 27px;
	background: var(--lighter);
	border: 1px solid var(--dark);
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	align-items: center;
	justify-items: left;
	padding: 20px;
	transition-duration: 300ms;
}

.darkThemeItemPage {
	background: var(--dark);
	border: 1px solid var(--primary);
	transition-duration: 300ms;
}

.action {
	font-weight: 400;
	color: var(--primary);
	cursor: pointer;
	margin-right: 20px;
	transition-duration: 300ms;
}

.actionActive {
	color: var(--like);
}

.action:active {
	color: var(--primaryDark);
	transition-duration: 300ms;
}

.actionActive:active {
	color: var(--error);
}

.text {
	max-width: 450px;
	font-weight: 200;
	text-align: left;
	transition-duration: 300ms;
}

.darkThemeText {
	color: var(--white);
	transition-duration: 300ms;
}

@media (min-width: 1024px) {
	.action:hover {
		color: var(--primaryDark);
		transition-duration: 300ms;
	}

	.actionActive:hover {
		color: var(--error);
	}
}
