.authForm {
	display: grid;

	width: 100%;
	max-width: 300px;
	height: fit-content;
	padding: 40px;

	border-radius: 50px;
	background: var(--light);
	gap: 12px;
	justify-items: center;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.text,
.slogan,
.forgot {
	font-weight: 200;
}

.slogan {
	text-align: center;
	margin: 0;
	font-size: 12px;
	margin-bottom: 20px;
}

.forgot {
	cursor: pointer;
	color: var(--dark);
	transition-duration: 300ms;
}

.forgot:active {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/logo.png');
	width: 90px;
	height: 90px;
}

.changeWrapper {
	display: grid;
	gap: 10px;
}

.input {
	width: 300px;
	height: 30px;
	padding: 5px;
	padding-left: 20px;

	transition-duration: 300ms;

	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 15px;
	background: var(--white);
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
    transition-duration: 300ms;
}

.input:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-color: var(--primary);
}

.input:focus {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.darkThemeInput {
    background: var(--darkTheme);
    transition-duration: 300ms;
}

.error_input,
.error_input:hover,
.error_input:focus {
	border: 1px solid var(--error);
	outline: 1.5px solid var(--error);
}

@media (min-width: 1024px) {
	.forgot:hover {
		color: var(--primary);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (max-width: 1024px) {
	.logo {
		width: 70px;
		height: 70px;
	}
}

@media (max-width: 580px) {
	.authForm {
		padding: 30px;
		border-radius: 40px;
	}

	.logo {
		width: 50px;
		height: 50px;
	}
	
	.input {
        width: 150px;
    }
}

@media (max-width: 400px) {
	.authForm {
		padding: 10px;
	}
}

@media (max-width: 300px) {
	.authForm {
		width: 100%;
		padding: 10px 5px;
	}
}
