.profileWrapper {
	display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;

	width: 100%;
    min-height: 100vh;

	transition-duration: 300ms;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/background.jpg');
}

.profileWrapper > button {
    width: 200px;
    height: 30px;
    border-width: 0px;
    border-radius: 9999px;
    cursor: pointer;
    background: var(--lighter);
    transition-duration: 300ms;
}

.profileWrapper > button:hover {
    background: var(--light);
    transition-duration: 300ms;
}

.userInfoBlock {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    justify-items: center;
    padding: 20px 0;
}

@media (max-width: 1024px) {
	.userInfoBlock {
		grid-template-columns: 100%;
	}
}