.profileWrapper {
	display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;

	width: 100%;
    height: 100vh;

	transition-duration: 300ms;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/background.jpg');
}

.profileWrapper > button {
    width: 200px;
    height: 30px;
    border-width: 0px;
    border-radius: 9999px;
    cursor: pointer;
    background: var(--lighter);
    transition-duration: 300ms;
}

.profileWrapper > button:hover {
    background: var(--light);
    transition-duration: 300ms;
}