.userProfile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    width: 90%;
    justify-self: right;
    border-radius: 27px;
    background: linear-gradient(98.06deg, #C2B2A3 0%, #DED8D4 89.65%, #BCA48F 137.22%);
    border: 1px solid var(--dark);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    align-items: top;
    padding: 20px;
    margin-bottom: 20px;
    transition-duration: 300ms;
}

.darkThemeUserProfile {
    background: var(--darkTheme);
    border: 1px solid var(--primary);
    transition-duration: 300ms;
}

.avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/box.png');
    border: 5px solid var(--white);
    transition-duration: 300ms;
}

.currentOrder {
    font-weight: 300;
    text-align: left;
    margin-bottom: 5px;
    transition-duration: 300ms;
}

.darkThemeCurrentOrder {
    color: var(--primary);
    transition-duration: 300ms;
}

.text {
    max-width: 450px;
    font-weight: 200;
    text-align: left;
    transition-duration: 300ms;
}

.darkThemeText {
    color: var(--white);
    transition-duration: 300ms;
}

@media (max-width: 1024px) {
	.userProfile {
        justify-self: center;
    }
}
