.userProfile2 {
    position: absolute;
    width: 624px;
    height: 210.2755889892578px;
    top: 171.72439575195312px;
    left: 744px;
    border-radius: 27px;
    box-shadow: 4px 4px 6px 0px #00000040;
    border: 1px;
    background: linear-gradient(98.06deg, #C2B2A3 0%, #DED8D4 89.65%, #BCA48F 137.22%);
    border: 1px solid #00000075;
}

.userInfo2 {
    position: absolute;
    width: 136px;
    height: 18.88188934326172px;
    top: 27%;
    left: 150px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}

.emblemText {
    position: absolute;
    border-radius: 50%;
    top: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 81px;
    height: 81px;
    left: 44px;
    border: 5px solid #E8E8E8;

}

.emblem {
    background-image: url('/box.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 42.913387298583984px;
    top: 26%;
    left: 65px;
}

.infoOrderStyle {
    position: absolute;
    width: 369px;
    height: 21px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.infoOrder1 {
    top: 107px;
    left: 150px;
}

.infoOrder2 {
    top: 125px;
    left: 150px;
}