.userProfile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    justify-self: left;
    border-radius: 27px;
    background: linear-gradient(0deg, rgba(231, 231, 231, 1), rgba(231, 231, 231, 1));
    border: 1px solid var(--dark);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    transition-duration: 300ms;
}

.darkThemeUserProfile {
    background: var(--darkTheme);
    border: 1px solid var(--primary);
    transition-duration: 300ms;
}

.userInfoBlock1 {
    display: grid;
    align-items: center;
    gap: 10px;
}

.userInfoBlock1 {
    grid-template-columns: auto 1fr;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--dark);
    transition-duration: 300ms;
}

.darkThemeAvatar {
    border: 1px solid var(--primary);
    transition-duration: 300ms;
}

.username {
    margin-left: 5px;
    font-weight: 300;
    transition-duration: 300ms;
}

.darkThemeUsername {
    color: var(--primary);
    transition-duration: 300ms;
}

.text {
    max-width: 450px;
    font-weight: 200;
    text-align: left;
    transition-duration: 300ms;
}

.darkThemeText,
.darkThemeText > span {
    color: var(--white);
    transition-duration: 300ms;
}

.logOut,
.changePassword {
    cursor: pointer;
    transition-duration: 300ms;
}

.logOut:active {
    color: var(--error);
    transition-duration: 300ms;
}

.changePassword:active {
    color: var(--primary);
    transition-duration: 300ms;
}

.input {
	width: 300px;
	height: 30px;
	padding: 5px;
	padding-left: 20px;

	transition-duration: 300ms;

	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 15px;
	background: var(--white);
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
    transition-duration: 300ms;
}

.input:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-color: var(--primary);
}

.input:focus {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.darkThemeInput {
    background: var(--darkTheme);
    transition-duration: 300ms;
}

.error_input,
.error_input:hover,
.error_input:focus {
	border: 1px solid var(--error);
	outline: 1.5px solid var(--error);
}

@media (min-width: 1024px) {
	.logOut:hover {
        color: var(--error);
        transition-duration: 300ms;
    }
    
    .changePassword:hover {
        color: var(--primary);
        transition-duration: 300ms;
    }
}

@media (max-width: 1024px) {
	.userProfile {
        justify-self: center;
    }
}

@media (max-width: 580px) {
	.input {
        width: 150px;
    }
}